/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,900;1,400;1,700;1,900&family=Roboto&display=swap");

:root {
  /* Global Colors */
  --primary: #d13078; /* Pink	*/
  --secondary: #3e3767; /* Dark Blue	*/
  --secondary-light: #725f99; /* light Dark Blue	*/
  --light-blue: #31aec9; /* light Blue	*/
  --white: white; /* white	*/
  /* Used as body color in about us page */
  --blck: black; /* black	*/
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* overflow-x: visible; */
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 500;
  color: var(--secondary);
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:visited {
  /* border-bottom: blue; */
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Background Colors */
.bg-primary {
  background-color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-white {
  background-color: var(--white);
}

/* Text Colors */
.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-white {
  color: var(--white);
}

h1,
h2,
h3,
h4 {
  /*
		font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 600;
		line-height: 1.2em;
		font-family: Montserrat;
		font-weight: 700;
		font-style: normal;
		letter-spacing: 0em;
		text-transform: none;
		line-height: 1.4em;
		font-size: 2rem;
		margin: 2rem 0;
		*/
  white-space: pre-wrap;
}

h1 {
  font-size: 4rem;
}

/* they have not used h2 */
h2 {
  font-size: 45px;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

/* #navbar {
  transition: 3s;
} */

/* NavBar */
.navbar {
  width: 100%;
  /* margin: 25px 0; */
  position: fixed;
  z-index: 999;
  background: var(--white);
  padding-top: 30px;
  padding-bottom: 40px;
  /* padding: 44px 0; */
  overflow: hidden;
  /* transition: 0.3s; */
  transition: 0.8s linear;
  top: 0;
  /* height: 0; */
  /* display: none; */
}

.navbar-mobile {
  display: none;
  position: relative;
}

.navbar-mobile-container {
  display: flex;
  /* justify-content: ; */
}

.mobile-menu-button {
  position: absolute;
  right: 10%;
  top: 0;
  /* bottom: 0; */
}

.menu .active {
  border-bottom: 1px solid var(--primary);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.menu > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: right;
}

.menu ul li a {
  color: var(--primary);
  font-family: "";
  font-weight: 400;
  font-size: 18px;
  /* line-height: 32px; */
  font-family: "Roboto", sans-serif;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 12px;
}

.search.focused {
  border: 2px solid #000;
}

.search-input {
  border: 0;
  -webkit-appearance: none;
  font-size: 1rem;
  outline: none;
}

.search-input:focus {
  border: none;
  outline: none;
}

/* First Section */
.section {
  /* height: 900px; */
  max-width: 100vw;
  position: relative;
  padding-top: 100px;
  /* background: url("https://images.squarespace-cdn.com/content/v1/60c8f0b8fcff251cbdeb6591/2720b5d4-cce0-40ec-9d62-dd7960899fe0/MVCDC+Sept+13+20211856.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* For Mobile */
  /* background-position: center; */
}
/* .section .section-background {
  position: absolute;
  z-index: -2;
  opacity: 0.8;
  max-height: 100vh;
} */
/* .section .section-background .overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
} */
.section .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* background-color: #000; */
}
.section .section-container .gap {
  min-height: 300px;
}

.hero-enrollment-button {
  padding-bottom: 50px;
}

/* .section .section-container h1 {
  z-index: 999;
} */

.section .content-container {
  z-index: 10;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section-container .content-container h1 {
  font-size: 64px;
  font-family: "Montserrat", "san-serif";
  font-weight: 700;
}

.section .color-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* max-height: calc(900px - 100px ); */
  z-index: 10;
  /* background-color: #725f99; */
  opacity: 0.7;
  z-index: 2;
}

.carousel-image {
  object-position: center center;
}

/* Join Our Team */
/* Career Opportunities */
#career-opportunities,
.page-hero-center-and-full {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Diversity */
.diversity-cards,
.grid-3,
.grid-card-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/* About us */
/* Leadership team */
.leader-image-with-name-and-position {
  position: relative;
}

.leader-name-position-box .leader-card-content {
  position: "absolute";
  width: 200px;
  background: "var(--secondary-light)";
  top: 40;
  z-index: 2;
  max-width: "45%";
  padding: 0 20px;
}

/* News and Events */
#weekly-reports {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

#weekly-reports-image {
  /* grid-s */
  grid-column: span 2;
  grid-row: span 2;
}

/* Contact Us */
#contact-us-container h2 {
  margin-top: 0;
  padding-top: 0;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-content a {
  color: var(--white);
  font-weight: 500;
}
.footer-menu-container {
  display: flex;
  gap: 20px;
}

.image-with-overlay-container {
  /* background-size: cover; */
  /* background-position: center; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  color: white;
  position: relative;
  /* z-index: 100; */
}
.image-with-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  text-align: center;
  z-index: 2;
}

.image-overlay {
  /* content: 'hello'; */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  z-index: 1;
}

.my-link {
  color: var(--primary);
}
.my-link:hover {
  color: var(--light-blue);
}

.my-label {
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.my-input:not([type="submit"]),
.my-textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  outline: none;
  background-color: #fafafa;
  transition: 0.3s;
}
.my-input:not([type="submit"]):active,
.my-textarea:active {
  background-color: var(--secondary);
}
.my-input:not([type="submit"]):focus,
.my-textarea:focus {
  background-color: var(--white);
}

/* Button */
.my-btn {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px 30px;
  color: white;
  border-radius: 0.4rem;
  font-size: 2rem;
  transition: 0.3s;
  box-shadow: 5px 5px var(--light-blue);
  cursor: pointer;

  /* From Site */
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.my-btn:hover {
  box-shadow: 1px 1px var(--light-blue);
  opacity: 0.8;
}
.my-btn-center {
  margin: auto;
}
.my-simple-btn {
  box-shadow: none;
  border: none;
  background-color: var(--primary);
  font-size: 18px;
  font-weight: 500;
}
.my-simple-btn:hover {
  box-shadow: none;
  border: none;
}

/* .container {
    max-width: 1200px;
    margin: 10px;
    margin: 0 auto;
    width: 100%;
  } */

.container-large {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* overflow-x: scroll; */
  /* margin: 0; */
}

.container {
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.float-right {
  float: right;
  display: inline-block;
  margin-left: 20px;
}

.float-left {
  float: left;
  display: inline-block;
  margin-right: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .container-large {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .container-large {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .container-large {
    width: 1170px;
  }
}

@media (max-width: 1100px) {
  .navbar-desktop {
    display: none;
  }
  /* .navbar-desktop .menu {
    display: none;
  } */
  .carousel-image {
    object-position: 12% 0%;
  }

  .navbar-mobile {
    display: block;
  }

  .navbar-mobile .menu ul {
    display: block;
    padding: 0;
  }

  .section .section-container .gap {
    min-height: 200px;
  }

  .diversity-cards,
  .grid-3,
  .grid-card-3 {
    grid-template-columns: 1fr 1fr;
  }

  #leader-3-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #weekly-reports {
    grid-template-columns: repeat(2, 1fr);
    /* text-align: center; */
  }

  #weekly-reports-image {
    /* grid-column: unset; */
    grid-row: unset;
    /* grid-s */
    /* grid-column:  span 0;
  grid-row:  span 0; */
  }

  .videos-on-facebook {
    grid-column: span 2;
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  /* .section .section-container .gap {
    min-height: 200px;
  } */
}

@media (max-width: 992px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .section .hero-with-background-section {
    background-position: center !important;
  }

  .section .section-container .gap {
    min-height: 100px;
  }

  .diversity-cards,
  .grid-card-3 {
    grid-template-columns: 1fr;
  }

  #weekly-reports {
    grid-template-columns: 1fr 1fr;
  }

  .float-left,
  .float-right,
  img.floating-image {
    float: unset !important;
    display: block !important;
  }

  .float-left {
    margin-right: unset;
  }

  .float-right {
    margin-left: unset;
  }

  img.floating-image {
    width: 90% !important;
    /* margin: 10px !important; */
    margin: auto !important;
  }

  .footer-container {
    display: unset;
  }

  .my-btn {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-btn.bg-secondary {
    margin-right: auto;
    width: min(100%, 80vw);
    margin-left: auto;
    max-width: 457px;
    text-align: center;
  }

  .flex {
    /* display: unset; */
    flex-direction: column;
  }

  .grid,
  .grid-3,
  .grid-card-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  #weekly-reports {
    grid-template-columns: 1fr;
  }

  #weekly-reports-image {
    grid-column: unset;
  }
}
